.searchBar {
  /* border: solid 1px #8d99ae; */
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  height: 48px;
  align-items: center; /* alignItems */
  box-shadow: 1px 1px 4px #8d99ae;
  background-color: #ffffff;
}

.icon {
  margin: 8px 16px;
  color: #8d99ae;
}

.input {
  padding: 8px;
  border: none;
  font-family: "Noto Sans", sans-serif;
}

.input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 00;
  text-transform: capitalize;
}

.input:focus {
  outline: none;
}

.submit {
  background-color: #3a86ff;
  border: none;
  color: white;
  height: 100%;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px 12px;
  min-width: 48px;
  font-weight: 700;
}
